#root {
  display: flex;
  height: 100%;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  // background: hsl(218, 23%, 16%);
  padding: 1rem;
}